# backend
backend/node_modules
backend/.env
# OSX
#
CryptoApp/.DS_Store

# Xcode
#
CryptoApp/build/
CryptoApp/*.pbxuser
CryptoApp/!default.pbxuser
CryptoApp/*.mode1v3
CryptoApp/!default.mode1v3
CryptoApp/*.mode2v3
CryptoApp/!default.mode2v3
CryptoApp/*.perspectivev3
CryptoApp/!default.perspectivev3
CryptoApp/xcuserdata
CryptoApp/*.xccheckout
CryptoApp/*.moved-aside
CryptoApp/DerivedData
CryptoApp/*.hmap
CryptoApp/*.ipa
CryptoApp/*.xcuserstate
CryptoApp/ios/.xcode.env.local

# Android/IntelliJ
#
CryptoApp/build/
CryptoApp/.idea
CryptoApp/.gradle
CryptoApp/local.properties
CryptoApp/*.iml
CryptoApp/*.hprof
CryptoApp/.cxx/
CryptoApp/*.keystore
CryptoApp/!debug.keystore

# node.js
#
CryptoApp/node_modules/
CryptoApp/npm-debug.log
CryptoApp/yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

CryptoApp/**/fastlane/report.xml
CryptoApp/**/fastlane/Preview.html
CryptoApp/**/fastlane/screenshots
CryptoApp/**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
CryptoApp/ios/Pods/
CryptoApp/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
CryptoApp/.metro-health-check*

# testing
CryptoApp//coverage
